body{
    color:none;
}
#content{
    margin:0 auto;
}
nav a{
    text-align: center;
    color:#95AEBF;
    text-decoration: none;
}
#hero-msg h1, #hero-msg{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
 text-align: center;
}
#background{
    height:725px;
    background-color:#95AEBF;
}
body{
    background:whitesmoke;
}
header{
    background-color:#416073 ; 
 }
nav a:hover{
    background-color:#B66D0D;
    color: white;
}
.book, .join{
    background-color:#B66D0D ;
    color:white;
    text-decoration: none;
}
.book:hover, .join:hover{
    background-color: #B66D0D;
    color:white;
}
.msg{
    background:#95AEBF ;
   
}
.msg h2{
    color:#416073;
}
.msg p{
    color:#B66D0D
}
footer{
    background:#95AEBF;
    color: #416073;
    font-size: 1.2em;
}
footer a{
    color:#B66D0D;
    text-decoration: none;
}
footer a:hover{
    color:#416073;
}
footer p a:hover{
    text-decoration:underline;
}
h4{
    color:#416073
}
.icon{
    width: 80px;
}
#hero-img{
    width:100%;
}
.logo{
    width: 80px;
}
div{
    max-width: 1600px;
}